<div class="container mt-4">

	<h3>Student Dashboard</h3>

	<div class="row mt-4">

		<div class="col-md-6">

			<h5>Bài đã làm</h5>

			<table class="table table-bordered">

				<tr>
					<th>Exam</th>
					<th>Action</th>
				</tr>

				@foreach (var exam in ViewBag.DoneExams)
				{
					<tr>
						<td>@exam.Title</td>
						<td>
							<span>ResultId: @exam.ResultId | ExamId: @exam.ExamId</span>
							<a href="/Student/ResultDetail/@exam.ResultId"
							   class="btn btn-sm btn-success">
								Xem điểm
							</a>
						</td>
					</tr>
				}

			</table>

		</div>

		<div class="col-md-6">

			<h5>Bài chưa làm</h5>

			<table class="table table-bordered">

				<tr>
					<th>Exam</th>
					<th>Action</th>
				</tr>

				@foreach (var exam in ViewBag.NotDoneExams)
				{
					<tr>

						<td>@exam.Title</td>

						<td>

							<a href="/Exam/DoExam/@exam.ExamId"
							   class="btn btn-sm btn-primary">

								Làm bài

							</a>

						</td>

					</tr>
				}

			</table>

		</div>

	</div>

</div>