@model dynamic

<h2>Xem lại bài làm</h2>

@foreach (var q in Model)
{
    <div class="mb-3">
        <p><b>@q.Question</b></p>

        @foreach (var a in q.Answers)
        {
            if (a.AnswerId == q.SelectedAnswerId)
            {
                <p style="color: blue;">👉 @a.Content (Bạn chọn)</p>
            }
            else if (a.IsCorrect)
            {
                <p style="color: green;">✔ @a.Content (Đáp án đúng)</p>
            }
            else
            {
                <p>@a.Content</p>
            }
        }
    </div>
}